<!DOCTYPE HTML>
<html>
<head>
    <title>奇门神算</title>
    <#include "/inc/header.ftl" />

    <style type="text/css">
        body {
            padding-top: 50px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <script type="text/javascript">
        function nav(id) {
            location.href = "detail?id=" + id;
        }
    </script>
</head>
<body>
<#include "/inc/nav.ftl" />


<div class="container">

    <div class="banner"><img src="banner.jpg"></div>
    <div class="row">
        找不到您想要的
    </div>

</div>
</body>
</html>
