<!DOCTYPE HTML>
<html>
<head>
    <title>奇门神算</title>
    <#include "/inc/header.ftl" />

    <style type="text/css">
        body {
            padding-top: 50px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
        pre {
            white-space: pre-wrap;
            word-wrap: break-word;
            line-height: 24px;
            background-color: white;
            border-width: 0px;
        }
        hr{
            margin:0;
        }
    </style>
    <script type="text/javascript">
        function nav(id) {
            location.href = "/dashi/detail?id=" + id;
        }
    </script>
</head>
<body>
<#include "/inc/nav.ftl" />

<div class="container banner-container" style="padding: 0">
    <#include "/inc/banner.ftl" />
</div>
<div class="container master-talk-container" style="border: 1px solid lightgray;border-width: 0 1px">
    <h3 class="text-center">${doc.title}</h3>
    <h5 class="text-center" style="line-height: 20px">${doc.author}&nbsp;|&nbsp;${doc.time}</h5>
    <hr>
    <pre>${doc.content}</pre>
</div>

<div class="modal fade" id="qrCode" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title master-qr-title" id="myModalLabel">添加微信即可开始卜算</h4>
            </div>
            <div class="modal-body">
                <img src="/img/qrCode.jpg" width="100%"/>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".slider-container").ikSlider({
        delay:1000
    });
</script>
</body>
</html>